<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Market</title>
</head>

<body>
    <h1>Sell Your own Product</h1>
    <form action="/products" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price Rs.</label>
        <input type="text" name="pricePerKg" id="price">
        <label for="catagory">Catagory</label>
        <select name="catagory" id="catagory">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>
        <button type="submit">On Air</button>

    </form>
</body>

</html>